body{
    font-size:15px;
    font-family: Roboto;
}

.main-container{
    border: 2px solid gray;
    border-radius: 2px;
    padding: 0 20px;
}
.main-container .navigation{
    background-color: #004999;
}
.navigation div{
    margin-left: 15px;
    font-size: 24px;
    font-weight: bold;
    color:#fff;
}
.nav-ul{
    list-style: none;
    display: flex; 
    padding:3px; 
    justify-content: space-evenly;
    color:#fff;
}
.nav-ul .active{
    color:#000 !important;
}

.nav-ul :last-child {
    position: relative;

}
.nav-ul :last-child ::before{
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: -10px;
    color:#000;
    top: 2px;
    bottom: 2px;
    border: 1px solid;
    border-width: 0 0 0 2px
}
.content{
    min-height:90vh;
}
.content input{
    width: 600px;
    height: 35px;
}
.user-list-container{
    display: flex;
    flex-wrap: wrap;
}

.user-list-container .user-item{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    margin: 5px;
    cursor: pointer;
    background-color:#e5f4fd;
}
.user-list-container .user-item img{
    width: 80px;
}

.user-page {
    display: flex;
    padding: 15px;
    flex-direction: column;
}

.user-page .user-info-container{
    display:flex;
}
.user-page .user-details-container{
    display: flex;
    flex-direction: column;
    flex-grow: 100;
    border: 1px solid #ccc;
    border-radius: 5px;
    line-height: 24px;
    padding:8px;
    background-color:#e5f4fd;
}
.user-page .user-details-container b{
 margin-right: 4px;
}

.user-page .user-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    background-color:#e5f4fd;

}
.user-page .user-avatar img{
    width: 160px;
}
.user-repo {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    background-color:#e5f4fd;
}
.pagination-container{
    display: flex;
    justify-content: flex-end;
    min-width: 200px;
}